<h3>ورود با شماره موبایل</h3>
<form asp-action="SendOtp" method="post">
    <input type="text" name="phoneNumber" class="form-control" placeholder="شماره موبایل" />
    <button type="submit" class="btn btn-primary mt-2">ارسال کد تایید</button>
</form>